@using Topmep.Models;
@using Topmep.Service;
@model Topmep.Models.TndProjectModels
@{
    ViewBag.Title = "備標作業-專案功能區";
}
<div class="container-fluid">
    <h6>@ViewBag.Title</h6>
    <div class="container-fluid">
        <input type="button" class="btn btn-sm btn-success" onclick="history.back()" value="回上一頁">
        @{
            UserService service = (UserService)Session["UserService"];
        }
        @if ((service.userPrivilege).Exists(x => x.FUNCTION_ID == "F00004"))
        {
            <select id="selProjectStatus" name="selProjectStatus" class="selectpicker form-control-sm  col-2">
                <option value="備標">備標</option>
                <option value="專案執行">專案執行</option>
                <option value="保固">保固</option>
                <option value="結案">結案</option>
            </select>
            <input type="button" class="btn  btn-sm btn-danger" onclick="closeProject()" value="變更">
        }
    </div>
</div>
<div class="container-fluid" style="padding-top:5px">
    <div class="btn-group" role="group" aria-label="功能區">
        <a class="btn btn-sm btn-info" href="@Url.Action("ManageProjectItem","Tender", new { id = @Model.tndProject.PROJECT_ID})">標單明細</a>
        <a class="btn btn-sm btn-info" href="@Url.Action("Create","Tender", new { id = @Model.tndProject.PROJECT_ID})">基本資料</a>
        <a class="btn btn-sm btn-info" href="@Url.Action("uploadMapInfo","Tender", new { id = @Model.tndProject.PROJECT_ID})">上傳發包數量</a>
        <a class="btn btn-sm btn-info" href="@Url.Action("MapInfoMainPage","Tender", new { id = @Model.tndProject.PROJECT_ID})">發包數量修改</a>
        <a class="btn btn-sm btn-info" href="@Url.Action("InquiryMainPage", "Inquiry", new { id = @Model.tndProject.PROJECT_ID})">詢價單管理</a>
        <a class="btn btn-sm btn-info" href="@Url.Action("ComparisonMain","Inquiry", new { id = @Model.tndProject.PROJECT_ID})">比價作業</a>
        <a class="btn btn-sm btn-info" href="@Url.Action("Index","Wage", new { id = @Model.tndProject.PROJECT_ID})">工率表下載</a>
        <a class="btn btn-sm btn-info" href="@Url.Action("Index","Wage", new { id = @Model.tndProject.PROJECT_ID})">工率表上傳</a>
        <a class="btn btn-sm btn-info" href="@Url.Action("costAnalysis","Inquiry", new { id = @Model.tndProject.PROJECT_ID})">成本分析</a>
    </div>
</div>
<hr />
<div class="container-fluid" style="padding-bottom:5px">
    <div class="card" id="printarea">
        <div class="card-body">
            <h6 class="card-title text-center">協成水電工程事業有限公司</h6>
            <h6 class="card-subtitle  text-center">備標會辦單</h6>
            <div class="table-responsive">
                <table class="table table-hover">
                    <tr>
                        <td width="20%">收件日期</td>
                        <td>
                            @Html.ValueFor(m => m.tndProject.DUE_DATE, "{0:yyyy/MM/dd}")
                        </td>
                        <td width="20%">預定報價完成日</td>
                        <td>
                            @if (null != Model.tndProject.SCHDL_OFFER_DATE)
                            {
                                @Html.ValueFor(m => m.tndProject.SCHDL_OFFER_DATE, "{0:yyyy/MM/dd}")
                            }
                        </td>
                    </tr>
                    <tr>
                        <td>工程名稱</td>
                        <td colspan="3">
                            @Html.DisplayFor(m => m.tndProject.CONTRUCTION_NAME)
                        </td>
                    </tr>
                    <tr>
                        <td>標案地址</td>
                        <td colspan="3">
                            @Html.DisplayFor(m => m.tndProject.LOCATION)
                        </td>
                    </tr>
                    <tr>
                        <td width="20%">業主</td>
                        <td>
                            @Html.DisplayFor(m => m.tndProject.OWNER_NAME)
                        </td>
                        <td width="20%">聯絡人</td>
                        <td>
                            @Html.DisplayFor(m => m.tndProject.CONTACT_NAME)
                        </td>
                    </tr>
                    <tr>
                        <td width="20%">連絡電話</td>
                        <td>
                            @Html.DisplayFor(m => m.tndProject.CONTACT_TEL)
                        </td>
                        <td width="20%">Email</td>
                        <td>
                            @Html.DisplayFor(m => m.tndProject.CONTACT_EMAIL)
                        </td>
                    </tr>
                </table>
            </div>
            <div class="table-responsive table-info">
                <form id="formTaskAssign" name="formTaskAssign" action="AddTaskAssign" method="post">
                    <input type="hidden" name="project_id" id="project_id" value="@ViewBag.projectid" />
                    @if (null != ViewBag.taskAssign && ViewBag.taskAssign != "")
                    {
                        <table class="table table-bordered">
                            <thead>
                                <tr>
                                    <th Align="Center">修改</th>
                                    <th style="width:10%">任務類型</th>
                                    <th style="width:10%">負責人員</th>
                                    <th>負責項目</th>
                                    <th style="width:20%">預定完成時間</th>
                                    <th>備註</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model.tndTaskAssign)
                                {
                                    <tr>
                                        <td>
                                            <button type="button" class="btn btn-info btn-sm" onclick="getTaskItem('@item.TASK_ID')">
                                                <i class="fas fa-edit"></i>
                                            </button>
                                        </td>
                                        <td>
                                            <input type="text" id="task_type" name="task_type" class="form-control" value="@item.TASK_TYPE" />
                                        </td>
                                        <td>
                                            <input type="text" id="user_id" name="user_id" class="form-control" value="@item.USER_ID" />
                                        </td>
                                        <td>
                                            <input type="text" id="task_item" name="task_item" class="form-control" value="@item.TASK_ITEM" />
                                        </td>
                                        @if (null != item.FINISH_DATE)
                                        {
                                            <td><input type="text" id="finish_date" name="finish_date" class="form-control col-8" value="@item.FINISH_DATE.Value.ToString("yyyy/MM/dd")" /></td>
                                        }
                                        else
                                        {
                                            <td><input type="text" id="finish_date" name="finish_date" class="form-control col-8" value="@item.FINISH_DATE" /></td>
                                        }
                                        <td>
                                            <input type="text" id="remark" name="remark" class="form-control col-8" value="@item.REMARK" />
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>

                    }
                    else
                    {
                        <table class="table table-bordered">
                            <tr>
                                <td Align="Center">任務類型</td>
                                <td Align="Center">負責人員</td>
                                <td Align="Center">負責項目</td>
                                <td Align="Center">預定完成時間</td>
                                <td Align="Center">備註</td>
                            <tr>
                                <td Align="Center">主辦</td>
                                <td><input type="text" id="leader_user_id" name="leader_user_id" /></td>
                                <td><input type="text" id="leader_task_item" name="leader_task_item" /></td>
                                <td><input type="date" id="leader_finish_date" name="leader_finish_date" /></td>
                                <td><input type="text" id="leader_remark" name="leader_remark" /></td>
                            <tr>
                                <td Align="Center">成控</td>
                                <td><input type="text" id="costing_user_id" name="costing_user_id" /></td>
                                <td><input type="text" id="costing_task_item" name="costing_task_item" /></td>
                                <td><input type="date" id="costing_finish_date" name="costing_finish_date" /></td>
                                <td><input type="text" id="costing_remark" name="costing_remark" /></td>
                            <tr>
                                <td Align="Center">圖算</td>
                                <td><input type="text" id="map_user_id" name="map_user_id" /></td>
                                <td><input type="text" id="map_task_item" name="map_task_item" /></td>
                                <td><input type="date" id="map_finish_date" name="map_finish_date" /></td>
                                <td><input type="text" id="map_remark" name="map_remark" /></td>
                        </table>
                    }
                </form>
            </div>
        </div>
    </div>
    <div class="btn-group" role="group" aria-label="備標會辦單">
        <input id="btnPrint" type="button" class="btn btn-sm btn-info" value="列印備標會辦單" onclick="javascript: printpage('printarea')" />
        @if (null == ViewBag.taskAssign || ViewBag.taskAssign == "")
        {
            <input type="button" value="任務分派" class="btn btn-sm btn-info" id="saveForm" />
        }
    </div>
</div>
<div class="container-fluid">
    <input type="hidden" name="projectid" id="projectid" value="@ViewBag.projectid" />
    @{
        Html.RenderPartial("_uploadPlanItem");
    }
</div>
<div class="container-fluid">
    <div>
        <h6>檔案上傳區</h6>
    </div>
</div>

<!-- Modal :對話框-->
<div class="modal fade" id="taskAssignItem" role="dialog">
    <div class="modal-dialog" id="taskItemDialog">
        <!-- Modal content-->
        @Html.Partial("_TaskAssignItem");
    </div>
</div>
<script language="javascript" type="text/javascript">
    $(document).ready(function () {
        $(function () {
            $('#finishDate').datepicker({
                format: 'YYYY/MM/DD',
                language: "zh-TW"
            });
        });
    })
    function printpage(printarea) {
        //var newstr = document.all.item(printarea).innerHTML;
        var newstr = document.getElementById(printarea).innerHTML;
        var oldstr = document.body.innerHTML;
        document.body.innerHTML = newstr;
        window.print();
        document.body.innerHTML = oldstr;
        return false;
    }
    function closeProject() {
        var status = confirm('確定要變更專案狀態!!(@Model.tndProject.PROJECT_ID)');
        if (status) {
            var method = $("#selProjectStatus").val();
            var URLs = "/Tender/closeProject?projectid=@Model.tndProject.PROJECT_ID&status=" + method;
            console.log("URLs=" + URLs);
            $.ajax({
                url: URLs,
                type: "POST",
                dataType: 'text',
                success: function (msg) {
                    alert(msg);
                    window.location = "/Tender/Index";
                },
                error: function (xhr, ajaxOptions, thrownError) {
                    alert(thrownError);
                }
            });
        }
    }
    $("#saveForm").click(function () {
        $.ajax({
            url: '@Url.Action("AddTaskAssign", "Tender")',
            data: $('#formTaskAssign').serialize(),
            type: "POST",
            dataType: 'text',
            success: function (msg) {
                alert(msg);
                window.location.reload()
            },
            error: function (xhr, ajaxOptions, thrownError) {
                alert(thrownError);
            }
        });
    });

    //由ID 取得資料填入表單
    function getTaskItem(itemid) {
        $.ajax({
            url: "/Tender/getTaskItem",
            type: "GET",
            data: { itemid: itemid },
            dataType: "JSON",
            success: function (data) {
                $('#task_id').val(data.TASK_ID);
                $('#taskType').val(data.TASK_TYPE);
                $('#userId').val(data.USER_ID);
                $('#taskItem').val(data.TASK_ITEM);
                $('#finishDate').val(data.finishDate);
                $('#taskRemark').val(data.REMARK);
                $('#createId').val(data.CREATE_ID);
                $('#createDate').val(data.createDate);
                $('#taskAssignItem').modal('show'); // show bootstrap modal when complete loaded
                //$('.modal-title').text('編輯設定資料'); // Set title to Bootstrap modal title
            },
            error: function (jqXHR, textStatus, errorThrown) {
                alert('Error get data from ajax');
            }
        });
    }

    //更新task assign item
    $("#refreshTask").click(function () {
        var s = $('#formTaskItem').serialize();
        var URLs = "/Tender/refreshTaskItem";
        $.ajax({
            url: URLs,
            data: $('#formTaskItem').serialize(),
            type: "POST",
            dataType: 'text',
            success: function (msg) {
                alert(msg);
                window.location.reload()
            },
            error: function (xhr, ajaxOptions, thrownError) {
                alert(thrownError);
            }
        });
    });
</script>
