@model IEnumerable<Topmep.Models.REF_TYPE_MAIN>
@{
    ViewBag.Title = "九宮格/次九宮格管理";

}
<!--搜尋條件區域-->
<style>

    table {
        table-layout: fixed;
        word-wrap: break-word;
    }
</style>
<div class="row"><h5>@ViewBag.Title</h5></div>

<!--九宮格資料區塊-->
@{
    string curType1 = "";
    string rowHTML = "";
}
<div class="container overflow-auto">
    <h5>九宮格</h5>
    <table class="table table-bordered dataTable">
        <tr>
            <td></td>
            <td><label class="text-info">第一階</label></td>
            @{
                for (int i = 0; i < 10; i++)
                {
                    rowHTML = rowHTML + "<td>" + i + "</td>";
                }
                @Html.Raw(rowHTML);
            }
        </tr>
        @foreach (var item in Model)
        {
            if (curType1 != item.TYPE_CODE_1)
            {
                if (curType1 != "")
                {
                    @Html.Raw(rowHTML + "</tr>");
                }
                rowHTML = "<tr><td> " + item.TYPE_CODE_1 + "</td><td>" + item.CODE_1_DESC + "</td>" +
                     "<td>" +
                     "<lable class='btn-link' onclick=\"selectType('" + item.TYPE_CODE_1 + "','" + item.TYPE_CODE_2 + "')\">" + item.TYPE_DESC + "</lable>" +
                     "</td>";

                curType1 = item.TYPE_CODE_1;
            }
            else
            {
                //  @ViewBag.Typecode = "<a href =\"EditMainType?typecode1=" + typecod1 + "&typecode2=" + typecod2 + "\">編輯</a>";
                rowHTML = rowHTML + "<td>" +
                     "<lable class='btn-link' onclick=\"selectType('" + item.TYPE_CODE_1 + "','" + item.TYPE_CODE_2 + "')\">" + item.TYPE_DESC + "</lable>" +
                     "</td>";
            }
        }
        @Html.Raw(rowHTML + "</tr>")
    </table>
</div>
<!--次九宮格資料區塊-->
<div class="container">
    <h5>次九宮格</h5>
    <div id="subTypeArea" name="subTypeArea">
    </div>
</div>

<script type="text/javascript">
    function selectType(typecode1, typecode2) {
        $.ajax({
            url: "getSubType",
            type: "POST",
            data: { typecode1: typecode1, typecode2: typecode2 },
            dataType: "HTML",
            success: function (result) {
                $("#subTypeArea").html(result);
                $('html, body').animate({
                    scrollTop: $("#subTypeArea").offset().top
                }, 200);
            },
            error: function (jqXHR, textStatus, errorThrown) {
                alert('Error get data from ajax(' + errorThrown + ')');
            }
        });
    }
</script>
